apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-k8s
spec:
  replicas: 3
  selector:
    matchLabels:
      app: simple-k8s
  template:
    metadata:
      labels:
        app: simple-k8s
    spec:
      containers:
        - name: app
          image: simple-k8s-app:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: APP_VERSION
              value: "v1"
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
